//@import '../../../_expertise-variable';

:host {
  //margin-bottom: $expertise-fields-margin-bottom;
  ::ng-deep {
    .ng-select.ng-select-single .ng-select-container {
      .ng-arrow-wrapper {
        left: -9px;
      }
      .ng-clear-wrapper {
        right: 35px;
        position: absolute;
      }
    }
    span.ng-arrow-wrapper:before {
      content: ' ';
      border-left: 1px solid #ced4da;
      height: 33px;
      position: absolute;
      top: -8px;
      left: -8px;
      background-color: #EEEEEE;
      width: 100px;
    }
    .ng-select.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder,
    .ng-select .ng-has-value .ng-placeholder, .ng-select.ng-select-opened .ng-placeholder {
      display: none;
    }
    .ng-select .ng-select-container .ng-value-container .ng-placeholder {
     left: 10px;
      bottom: 9px;
    }
    .ng-select .ng-select-container .ng-value-container .ng-value .ng-value-label {
      top: 25%;
      position: absolute;
      font-size: 14px;
    }
    .ng-select .ng-select-container {
      border: 1px solid #ced4da;
      border-radius: 4px;
      background-color: #fff;
      padding-left: 0.75rem;
    }
    .ng-select .ng-select-container:after {
      border-bottom: none;
    }
  }
  
  select:disabled {
  //  border-color: $expertise-color-disabled;
  }
  .select {
    &--bottom {
      width: 100%;
    }
  }
  
  select {
    option {
     // color: $expertise-font-color-base;
      font-family: Barlow;
      font-size: 16px;
      line-height: 19px;
    }
  }
  
  .select-autocomplete ::ng-deep .ng-select-container {
    min-height: 30px;
    height: 35px;
  }
}

