<fieldset class="input-text__column" id="{{id}}" [disabled]="isDisabled">
  <ng-container *ngIf="!hide">
    <div class="select-container">
      <label class="expertise-label">
        {{ label }} : 
      </label>
      <ng-select [items]="itemsList"
                 [ngClass]="'select--' + side"
                 class="select-autocomplete"
                 bindLabel="label"
                 bindValue="id"
                 placeholder="{{placeholder || 'Selectionnez une valeur...'}}"
                 [(ngModel)]="value"
                 (change)="handleInputChanges($event?.id)">
      </ng-select>
    </div>
  </ng-container>
</fieldset>