//@import '../../../_expertise-variable';

:host {
 // margin-bottom: $expertise-fields-margin-bottom;
}

.input-text {

  display: flex;
  &__column {
    flex-direction: column;
  }
  &__row {
    flex-direction: row
  }
}

[disabled] {
  color: black;
}

.form-group {
  margin: 15px;
}
