<div class="input-text__column form-group" id="{{id}}">
  <ng-container *ngIf = "!hide">
    <label class="expertise-label">
      {{ label }}
    </label>
    <div>
      <input
              [disabled]="isDisabled"
              class="form-control"
              type="text"
              [attr.maxlength]="limit || 200"
              placeholder={{placeholder}}
              value="{{value}}"
              (blur)="handleInputChanges($event.target.value)"
      >
    </div>
  </ng-container>
</div>
