.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 100%;
}


.cadre {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: row;
    column-gap: 20px;
    .grid-item {
        input, select, textarea {
            width: 100%;
        }
        grid-column-start: auto;
        &--x3 {
            grid-column-end: span 3;
        }
        &--x4 {
          grid-column-end: span 4;
        }
        &--x5 {
          grid-column-end: span 5;
        }
        &--x6 {
          grid-column-end: span 6;
        }
        &--x7 {
          grid-column-end: span 7;
        }
        &--x8 {
          grid-column-end: span 8;
        }
        &--x9 {
          grid-column-end: span 9;
        }
        &--x12 {
            grid-column-end: span 12;
        }
        &--1 {
            grid-column-start: 1;
        }
        &--2 {
            grid-column-start: 2;
        }
        &--3 {
            grid-column-start: 3;
        }
        &--4 {
            grid-column-start: 4;
        }
        &--5 {
            grid-column-start: 5;
        }
        &--6 {
            grid-column-start: 6;
        }
        &--7 {
            grid-column-start: 7;
        }
        &--8 {
            grid-column-start: 8;
        }
        &--9 {
            grid-column-start: 9;
        }
        &--10 {
            grid-column-start: 10;
        }
        &--11 {
            grid-column-start: 11;
        }
        &--12 {
            grid-column-start: 12;
        }
    }
 }