//@import '../../../_expertise-variable';

:host {
  // margin-bottom: $expertise-fields-margin-bottom;
}

.expertise-horizontal-radiobutton-list {
  float:left;
  padding-right: 10px;
  // font-family: $expertise-font-family;
  // font-size: $expertise-label-font-size;
  font-weight: normal;
  line-height: 20px;
  margin-right: 5px;
  margin-bottom: 0;
  margin: none;
  .input {
    vertical-align: middle;
    height: 13px;
    width: 13px;
    border: 2px solid #C5CBD8;
    border-radius: 15px;
    margin-right: 0;
  }
}

input[type='radio'] {
  -webkit-appearance:none;
  outline:none;
  background:#fff;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}
input[type='radio']:checked:before {
  background:#333;
}

fieldset {
  margin: 15px;
  border: none;
}