<fieldset
  [id]= id
  [disabled] = "isDisabled"
  class="radiobutton-list-container"
  >
  <ng-container *ngIf= !hide>
    <div>
      <label class="expertise-label">{{label}}</label>
    </div>
    <div *ngFor="let buttonText of buttonList" class = "expertise-horizontal-radiobutton-list center-block"  >
      <label>
        <input
          type="radio"
          [value]= buttonText.value
          [name]= id
          (change)="handleInputChanges($event.target.value)"
          [checked]="isRadioButtonChecked(buttonText.value)"
          class= "input"
        >
        {{buttonText.label}}
      </label>
    </div>
  </ng-container>
</fieldset>
